apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: josephrechdiner/week18_api:v2
        ports:
        - containerPort: 8000
        env:
        - name: MONGO_URI
          value: "mongodb://mongo:27017"

        - name: BOOTSTRAP_SERVERS
          value: "kafka-0.kafka:9092"
        - name: KAFKA_TOPIC
          value: "pizza-orders"

        - name: REDIS_HOST
          value: "redis"
        - name: REDIS_PORT
          value: "6379"
        - name: REDIS_DB
          value: "0"

